.gallery-container{
    max-width: 80%;
    position: relative;
    left: 10%;
    background-color: rgba(197, 143, 152, 0.248);
    border-width: 3px;
    border-color: black;
}

.gallery-img{
    width: 50%;
    position: relative;
    left: 25%;
}

.gallery-explain{
    font-size: 7vh;
}

.gallery-name{
    font-size: 6vh;
}