.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(122, 21, 21);
    text-shadow: 0 0 0.3em rgb(255, 255, 255);
  }

.Title{
    position: absolute;
    top: 50%;
    font-size: 80px;
    margin-top: 0%;
    z-index: 100;
}

.Title-smart{
    position: absolute;
    top: 50%;
    font-size: 50px;
    margin-top: 0%;
    z-index: 100;
}

.Title-very-smart{
    position: absolute;
    top: 50%;
    font-size: 35px;
    margin-top: 0%;
    z-index: 100;
}

.Header-BG{
    width: 100%;
    height: 130vh;
}

.Header-BG-smart{
    width: 100%;
    height: 100vh;
}



.Odoshi-girl{
    height: 150vh;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.Odoshi-girl-middle{
    height: 150vh;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.Odoshi-girl-smart{
    height: 120vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.Odoshi-girl-verysmart{
    height: 110vh;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.header-home{
    padding: 0.5em;
    color: rgb(35, 11, 23);
}

