.roadmap-wraper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-container{
    background-image: linear-gradient(0deg, transparent 31px, rgba(88, 31, 31, 0.4) 32px),linear-gradient(90deg,  transparent 31px, rgba(231, 177, 177, 0.243) 32px);
    background-color: rgb(255, 255, 255);
    background-size: 32px 32px;
    border: double 5px #390909;
    padding: 0.5em 1em;
    margin: 2em 0;
    width: 100%;
}

.container{
    display: flex;
    width: 100%;
    background-color: #62242418;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.roadmap-content{
    position: relative;
}

.pfpgirl{
    max-height: 50vh;
    position: relative;
    margin-left: 5%;
}